<div class="container">
  <!-- Checkbox right top corner -->
  <div class="d-flex justify-content-end p-3">
    <div class="form-check">
      <input
        id="viewOnly"
        type="checkbox"
        class="form-check-input"
        (change)="toggleViewOnly($event)"
      />
      <label for="viewOnly" class="form-check-label">View Only</label>
    </div>
  </div>

  <!-- Input for ID -->
  <div class="form-group">
    <label for="idInput">Podaj ID:</label>
    <input
      type="text"
      class="form-control"
      id="idInput"
      name="id"
      [(ngModel)]="id"
      (ngModelChange)="updateQueryString()"
    />
  </div>

  <!-- Displaying offers -->
  <div *ngIf="offers !== undefined && offers.length > 0; else noOffers" class="offers">
    <div
      *ngFor="let offer of offers"
      class="card my-3"
      (click)="openModal(offer)"
      (keyup.enter)="openModal(offer)"
      (keydown.space)="openModal(offer)"
      tabindex="0"
      [ngClass]="{ 'clickable': !isViewOnly }"
    >
      <img [src]="offer.productImageUrl" class="card-img-top" alt="Product Image" />
      <div class="card-body">
        <h5 class="card-title">{{ offer.productName }}</h5>
        <p>Sprzedawca: {{ offer.seller.name }}</p>
        <p>Cena: {{ offer.price.amount | preparedPrice | currency }}</p>
        <p>Magazyn: {{ offer.activeStockNumber }}</p>
      </div>
    </div>
  </div>
  <ng-template #noOffers>
    <p>Brak ofert do wyświetlenia.</p>
  </ng-template>

</div>
